<div class="section-ready landing-section">
  <div class="container grid">
    <div class="ready-left">
      <h2>Are You Ready? <br>Lorem ipsum dolor sit amet</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum ducimus esse et fugit magnam, molestiae
        quibusdam reiciendis tenetur ullam! Enim, inventore itaque libero porro quo quod repellendus totam
        veritatis.
      </p>
      <p>
        Ab, adipisci architecto assumenda dolorem eligendi facilis laboriosam numquam reiciendis repellendus sequi?
        Animi aspernatur consequuntur cum enim ex fugiat hic perferendis sapiente sequi, velit veniam voluptate.
        Blanditiis cumque eos esse.
      </p>
    </div>
    <div class="ready-right">
      <img src="assets/img/example.jpg" alt="examole" class="img-responsive">
    </div>
  </div>
</div>

